@import "./variables";
@import "./mixins";

.content {
    grid-row: 2 / -1;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 20px 1fr;
    gap: 40px;
    margin-right: 40px;
    padding-top: 1rem;
    margin-top: 0;
}
.content > h1 {
    grid-row: 1;
    font-size: 20px;
    padding: 0;
    margin: 0;

}


.posts {
    grid-row: 2 /-1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    align-items: flex-start;
    gap: 30px;
    button {
        @include button-align;

    }
}

.card {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.527);
    border-left: 6px solid $secondary-colour-saturated;
    border-radius: 5px;
    min-height: 190px;
    max-height: 190px;
    padding: 1rem;
    background-color: white;
}

#content-sidebar {
    grid-row: 2 /span 2;
    grid-column: 2;
    border-radius: 5px;
    
    .announcements {
        grid-row: 2 / 3;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.527);
        padding: 1rem;
        background-color: white;
        font-size: 12px;
        border-radius: 5px;
        padding: 1rem;

    }
    .announcement-post:nth-child(2) {
        border-top: 1px solid $background-colour-1;
        border-bottom: 1px solid $background-colour-1;   
    }
    .sidebar-title:nth-child(1) {
        position: absolute;
        margin-top: -25px;
    }    
}

.trending-user {
    grid-row: 3;
    grid-column: 2;
    padding: 1rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.603);
    border-radius: 5px;
    background-color: white;
    .user {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.65rem;

    }
}

.profile-img {
    width: 48px;
    aspect-ratio: 1;
    padding: 0.5rem;
}

.post-btn {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 30px;
    margin-top: 30px;
}