@import "./variables";


.content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: repeat(autofit,  minmax(50px, 1fr));
    gap: 20px;
}
.content > h1 {
    font-size: 20px;
}


.posts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
}

.card {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.527);
    border-left: 6px solid $secondary-colour-saturated;
    border-radius: 5px;
    min-height: 130px;
    padding: 1rem;
    background-color: white;
}

#content-sidebar {
    grid-row: 1 / span 2; 
    grid-column: 2;
    border-radius: 5px;
    padding: 1rem;
    .announcements {
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.527);
        padding: 1rem;
        background-color: white;
        font-size: 10px;
        border-radius: 5px;
    }
    .announcement-post:nth-child(2) {
        border-top: 1px solid $background-colour-1;
        border-bottom: 1px solid $background-colour-1;   
    }
}


h3 {
    text-align: center;
}

.trending-user {
    grid-row: 3;
    grid-column: 2;
    padding: 1rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.603);
    border-radius: 5px;
    background-color: white;
    .user {
        display: flex;
        
    }
}

.profile-img {
    width: 48px;
    aspect-ratio: 1;
    padding: 0.5rem;
}

