@import "./variables";
@import "./mixins";

.sidebar {
    margin: 0; 
    padding: 1rem;
    background: $background-colour-1;
    ul, li, a {
        list-style-type: none;
        text-decoration: none;
        display: flex;
        flex-flow: column nowrap;
        gap: 20px;
        justify-content: flex-start;
        align-items: flex-start;
        color: white;
        margin-bottom: 5px;
        :hover {
            transform: scale(1.1);
            transition: 0.3s ease-in-out;
        }
        }
    grid-column: 1fr;
    grid-row: 1 / -1;
}


.side-menu li {
    @include center-icon;
    #home {
        background-image: url(./profile-img/home.png);
    }
    
    #profile {
        background-image: url(./profile.png);
    }
    
    #messages {
        background-image: url(./profile-img/chat.png);
    }
    
    #history {
        background-image: url(./profile-img/poem.png);
        background-size: 22%;
    }
    
    #tasks {
        background-image: url(./profile-img/to-do-list.png);
        background-size: 28%;
    }
    
    #communities {
        background-image: url(./profile-img/community.png);
    }
    
    #settings {
        background-image: url(./profile-img/settings.png);
        background-size: 22%;
    }
    #support {
        background-image: url();
    }
    #privacy {
        background-image: url();
    }

}


.dash-title{
    text-align: center;
}
.logo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}