@import "./variables";
@import "./mixins";

.sidebar {
    grid-column: 1 / span -1;
    grid-row: 1 / -1;
    margin: 0; 
    padding: 1.5rem;
    padding-top: 1rem;
    background: $background-colour-1;
    img:hover {
        transform: rotate(160deg);
        transition: ease-in-out 1s;
    }

    h1 {
        font-weight: bold;
    }

    ul, li, a {
        list-style-type: none;
        text-decoration: none;
        font-weight: bold;
        padding: 10px;
        color: white;
        margin-bottom: 8px;         
          :hover {
            transform: scale(1.1);
            transition: 0.3s ease-in-out;
            }
        }
}

.side-menu li {
    @include center-icon;
}

.dash-title{
    text-align: center;
}

.logo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#settings-menu {
    margin-top: 40px;
}

#main-menu {
    margin-top: 60px;
}

#home {
    background-image: url(./icons/home-outline.svg);
}
#profile {
    background-image: url(./icons/account-outline.svg);
}
#messages {
    background-image: url(./icons/message-processing-outline.svg);
}
#history {
    background-image: url(./icons/weather-cloudy-clock.svg);
}
#tasks {
    background-image: url(./icons/calendar-check-outline.svg);
}   
#communities {
    background-image: url(./icons/account-group-outline.svg);
}

#settings {
    background-image: url(./icons/cog-outline.svg);
}
#support {
    background-image: url(./icons/lifebuoy.svg);
}
#privacy {
    background-image: url(./icons/shield-lock-outline.svg);
}

