@import "./header";
@import "./container";
@import "./main-content";
@import "./sidebar";
@import "./mixins";
@import "./variables";

* {
    font-family: monospace;
}


.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows:repeat(auto-fill, minmax(10vh, 1fr));
    height: 100vh;
    width: auto;
    gap: 40px;
    padding: 1rem;
}

