.header {
  grid-column: 2;
  grid-row: 1;
  justify-content: center;
  padding: 1rem;
}

.first-header-row {
  grid-row: 1;
  display: grid;
  grid-template-columns: 10px 2fr 1fr repeat(3, 1fr);
  grid-template-rows: 1fr;
  align-content: center;
  align-items: center;
}

.header #search-bar {
  grid-row: 1;
}
.header #ping {
  grid-row: 1;
  grid-column-start: 5;
  align-items: end;
}
.header #profile-pic {
  grid-column-start: 6;
  align-items: end;
}
.header #header-username {
  grid-column-start: 6;
}

.second-header-row {
  grid-row: 1;
  display: grid;
  grid-template-columns: 1fr 3fr repeat(3, 1fr);
  grid-template-rows: 1fr;
  align-content: center;
  align-items: flex-end;
}
.second-header-row p {
  position: absolute;
  align-self: flex-start;
  margin-left: 122px;
}
.second-header-row button {
  align-self: center;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  width: 78px;
  border-radius: 15px;
  padding: 5px;
  background-color: #2EC4B6;
  border: 1px #FFBF69 solid;
  color: white;
  text-shadow: 1px 1px 1px #2EC4B6;
}

button:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: 0.2s ease-in-out;
}

#search-bar {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 2px #2EC4B6 solid;
  grid-column: 2/span 3;
  border-radius: 15px;
  border: 1px solid #FF9F1C;
  padding: 5px;
  margin: 10px;
}

.content {
  grid-row: 3/-1;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 10px;
}

.content > h1 {
  font-size: 20px;
}

.posts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}

.card {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.527);
  border-left: 6px solid #FF9F1C;
  border-radius: 5px;
  min-height: 130px;
  padding: 1rem;
  background-color: white;
}

#content-sidebar {
  grid-row: 1/span 2;
  grid-column: 2;
  border-radius: 5px;
  padding: 1rem;
}
#content-sidebar .announcements {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.527);
  padding: 1rem;
  background-color: white;
  font-size: 10px;
  border-radius: 5px;
}
#content-sidebar .announcement-post:nth-child(2) {
  border-top: 1px solid #2EC4B6;
  border-bottom: 1px solid #2EC4B6;
}

h3 {
  text-align: center;
}

.trending-user {
  grid-row: 3;
  grid-column: 2;
  padding: 1rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.603);
  border-radius: 5px;
  background-color: white;
}
.trending-user .user {
  display: flex;
}

.profile-img {
  width: 48px;
  aspect-ratio: 1;
  padding: 0.5rem;
}

.sidebar {
  margin: 0;
  padding: 1rem;
  height: auto;
  background: #2EC4B6;
  grid-column: 1fr;
  grid-row: 1/-1;
}
.sidebar ul, .sidebar li, .sidebar a {
  list-style-type: none;
  text-decoration: none;
  display: flex;
  flex-flow: column nowrap;
  gap: 20px;
  justify-content: flex-start;
  align-items: flex-start;
  color: white;
  margin-bottom: 5px;
}
.sidebar ul :hover, .sidebar li :hover, .sidebar a :hover {
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}

.side-menu li {
  background-position: left center;
  background-repeat: no-repeat;
  padding-left: 30px;
  background-size: 22px;
}

#home {
  background-image: url(./profile-img/home.png);
}

#profile {
  background-image: url(./profile-img/profile.png);
}

#messages {
  background-image: url(./profile-img/chat.png);
}

#history {
  background-image: url(./profile-img/poem.png);
  background-size: 22%;
}

#tasks {
  background-image: url(./profile-img/to-do-list.png);
  background-size: 28%;
}

#communities {
  background-image: url(./profile-img/community.png);
}

#settings {
  background-image: url(./profile-img/settings.png);
  background-size: 22%;
}

#support {
  background-image: url(./profile-img/technical-support.png);
}

#privacy {
  background-image: url(./profile-img/privacy.png);
}

.dash-title {
  text-align: center;
}

.logo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

* {
  font-family: monospace;
}

body {
  background-color: #CBF3F0;
}

.container {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: repeat(auto-fill, minmax(10vh, 1fr));
  height: 100vh;
  width: auto;
  gap: 40px;
  padding: 0;
}/*# sourceMappingURL=styles.css.map */