.header {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  grid-row: 1;
  border: 1px dashed grey;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
}

.first-header-row {
  border: 1px dashed grey;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr (1fr)[3];
      grid-template-columns: 2fr 1fr repeat(3, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header #ping {
  -ms-grid-column: 4;
      grid-column-start: 4;
}

.header #profile-pic {
  -ms-grid-column: 5;
      grid-column-start: 5;
}

.header #header-username {
  -ms-grid-column: 6;
      grid-column-start: 6;
}

.second-header-row {
  border: 1px dashed grey;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr (1fr)[3];
      grid-template-columns: 1fr 3fr repeat(3, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#search-bar {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

.content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 1fr;
      grid-template-columns: 3fr 1fr;
  -ms-grid-rows: (minmax(8vh, 1fr))[auto-fit];
      grid-template-rows: repeat(auto-fit, minmax(8vh, 1fr));
  border: 1px dashed grey;
  gap: 10px;
}

.posts {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  border: 1px dashed pink;
  padding: 1rem;
}

.card {
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.527);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.527);
  border-left: 6px solid #c932c9;
  border-radius: 5px;
  min-height: 130px;
  padding: 1rem;
}

.announcements {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 2;
  grid-column: 2;
  padding: 0.5rem;
  border-radius: 5px;
}

.announcements .announcement-post {
  padding: 0.2rem;
}

.announcements .announcement-post:nth-child(3) {
  border-top: 1px solid rgba(128, 128, 128, 0.616);
  border-bottom: 1px solid rgba(128, 128, 128, 0.644);
}

h3 {
  text-align: center;
}

.trending-user {
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 2;
  grid-column: 2;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.603);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.603);
  border-radius: 5px;
}

.trending-user .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar {
  margin: 0;
  padding: 1rem;
  background: #2EC4B6;
  -ms-grid-column: 1;
  grid-column: 1fr;
  grid-row: 1 / -1;
}

.sidebar ul, .sidebar li, .sidebar a {
  list-style-type: none;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  gap: 20px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: white;
  margin-bottom: 5px;
}

.sidebar ul :hover, .sidebar li :hover, .sidebar a :hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.side-menu li {
  background-position: left center;
  background-repeat: no-repeat;
  padding-left: 30px;
  background-size: 22px;
}

.side-menu li #home {
  background-image: url(./profile-img/home.png);
}

.side-menu li #profile {
  background-image: url(./profile.png);
}

.side-menu li #messages {
  background-image: url(./profile-img/chat.png);
}

.side-menu li #history {
  background-image: url(./profile-img/poem.png);
  background-size: 22%;
}

.side-menu li #tasks {
  background-image: url(./profile-img/to-do-list.png);
  background-size: 28%;
}

.side-menu li #communities {
  background-image: url(./profile-img/community.png);
}

.side-menu li #settings {
  background-image: url(./profile-img/settings.png);
  background-size: 22%;
}

.side-menu li #support {
  background-image: url();
}

.side-menu li #privacy {
  background-image: url();
}

.dash-title {
  text-align: center;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* {
  font-family: monospace;
}

body {
  background-color: #CBF3F0;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 5fr;
      grid-template-columns: 1fr 5fr;
  -ms-grid-rows: (minmax(10vh, 1fr))[auto-fill];
      grid-template-rows: repeat(auto-fill, minmax(10vh, 1fr));
  height: 100vh;
  width: auto;
  gap: 40px;
  padding: 0;
}
/*# sourceMappingURL=styles.css.map */