.header {
  grid-column: 2;
  grid-row: 1;
  justify-content: center;
  padding: 1rem 0 2rem 0;
  margin-right: 40px;
}

.first-header-row {
  grid-row: 1;
  display: grid;
  grid-template-columns: 8px 2fr repeat(3, 1fr);
  gap: 20px;
  grid-template-rows: 1fr;
  align-content: center;
  align-items: center;
  padding-bottom: 1rem;
}
.first-header-row #search-bar {
  grid-row: 1;
  grid-column: 2/span 3;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 2px #2EC4B6 solid;
  grid-column: 2/span 3;
  border-radius: 15px;
  border: 1px solid #FF9F1C;
  padding: 5px;
}
.first-header-row #search-bar :hover {
  background: rgba(46, 196, 181, 0.3882352941);
}
.first-header-row #ping {
  grid-row: 1;
  grid-column-start: 5;
  justify-self: end;
  margin-right: 20px;
  width: 26px;
  background: none;
  border: none;
  padding: 5px;
}
.first-header-row #profile-pic {
  grid-column-start: 6;
  align-items: end;
  justify-self: end;
}
.first-header-row #header-username {
  grid-column-start: 7;
  justify-self: end;
}

.second-header-row {
  grid-row: 1;
  grid-column: 1/span auto;
  display: grid;
  grid-template-columns: 82px 3fr 10% repeat(3, 1fr);
  grid-template-rows: 80px 80px;
  align-content: center;
  align-items: end;
}
.second-header-row #hello-user {
  grid-row: 1/2;
  grid-column: 2;
  align-self: center;
  justify-self: start;
}
.second-header-row #second-header-row-btn {
  grid-column: 4/-1;
  grid-row: 1/1;
  justify-self: end;
  align-self: center;
}
.second-header-row #second-header-row-btn button {
  align-self: center;
  justify-self: end;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  grid-auto-flow: row dense;
  width: 78px;
  border-radius: 15px;
  padding: 5px;
  background-color: #2EC4B6;
  border: 1px #FFBF69 solid;
  color: white;
  text-shadow: 1px 1px 1px #2EC4B6;
}

.container {
  display: grid;
  grid-template-columns: 2fr 8fr;
  grid-template-rows: 120px repeat(auto-fill, minmax(100px, 1fr));
  min-height: 100vh;
  width: auto;
  gap: 40px;
  padding: 0;
}

.content {
  grid-row: 2/-1;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 20px 1fr;
  gap: 40px;
  margin-right: 40px;
  padding-top: 1rem;
  margin-top: 0;
}
.content h1 {
  grid-row: 1;
  font-size: 20px;
  padding: 0;
}

.posts {
  grid-row: 2/-1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  align-items: flex-start;
  gap: 30px;
}

.card {
  box-shadow: 2px 2px 5px rgba(46, 196, 181, 0.3882352941);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 40px repeat(2, 1fr);
  border-left: 6px solid #FF9F1C;
  border-radius: 5px;
  min-height: 200px;
  max-height: 200px;
  padding: 1rem;
  background-color: white;
}
.card p {
  grid-column: 1/span 2;
  grid-row: 2;
}
.card .post-btn {
  grid-column: 2;
  grid-row: 3;
  justify-self: end;
  padding: 1rem;
}
.card .post-btn button {
  border: none;
  background: none;
}

#content-sidebar {
  grid-row: 2/span 5;
  grid-column: 2;
  border-radius: 5px;
}
#content-sidebar .announcements {
  grid-row: 2/3;
  box-shadow: 2px 2px 5px rgba(46, 196, 181, 0.3882352941);
  padding: 1rem;
  background-color: white;
  font-size: 12px;
  border-radius: 5px;
  padding: 1.5rem;
}
#content-sidebar .announcement-post:nth-child(2) {
  border-top: 1px solid #2EC4B6;
  border-bottom: 1px solid #2EC4B6;
}
#content-sidebar .sidebar-title:nth-child(1) {
  position: absolute;
  margin-top: -40px;
}
#content-sidebar .trending-user {
  box-shadow: 2px 2px 5px rgba(46, 196, 181, 0.3882352941);
  grid-row: 3/auto;
  grid-column: 2;
  padding: 1rem;
  border-radius: 5px;
  background-color: white;
}
#content-sidebar .trending-user .user {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 0.8rem;
}
#content-sidebar .trending-user .profile-img {
  width: 48px;
  height: auto;
  padding: 0.5rem;
}

.sidebar {
  grid-column: 1/span -1;
  grid-row: 1/-1;
  margin: 0;
  padding: 1.5rem;
  padding-top: 1rem;
  background: #2EC4B6;
}
.sidebar img:hover {
  transform: rotate(160deg);
  transition: ease-in-out 1s;
}
.sidebar h1 {
  font-weight: bold;
}
.sidebar ul, .sidebar li, .sidebar a {
  list-style-type: none;
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
  color: white;
  margin-bottom: 8px;
}
.sidebar ul :hover, .sidebar li :hover, .sidebar a :hover {
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}

.side-menu li {
  background-position: left center;
  background-repeat: no-repeat;
  padding-left: 30px;
  background-size: 28px;
}

.dash-title {
  text-align: center;
}

.logo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

#settings-menu {
  margin-top: 40px;
}

#main-menu {
  margin-top: 60px;
}

#home {
  background-image: url(./icons/home-outline.svg);
}

#profile {
  background-image: url(./icons/account-outline.svg);
}

#messages {
  background-image: url(./icons/message-processing-outline.svg);
}

#history {
  background-image: url(./icons/weather-cloudy-clock.svg);
}

#tasks {
  background-image: url(./icons/calendar-check-outline.svg);
}

#communities {
  background-image: url(./icons/account-group-outline.svg);
}

#settings {
  background-image: url(./icons/cog-outline.svg);
}

#support {
  background-image: url(./icons/lifebuoy.svg);
}

#privacy {
  background-image: url(./icons/shield-lock-outline.svg);
}

* {
  font-family: monospace;
}

body {
  background-color: #CBF3F0;
  max-width: 1400px;
}

button:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: 0.2s ease-in-out;
}/*# sourceMappingURL=styles.css.map */